.lbl {
  color: #fff;
  text-transform: uppercase;
  font-size: map-get($font-sizes, xs);
  font-weight: map-get($font-weights, medium);
  line-height: map-get($line-heights, xs);
  letter-spacing: map-get($letter-spacings, xl);
  display: inline-block;
  @include pxRem(padding, 2 7);
}

.lbl-onsale {
  background-color: #ff708e;
  border-radius: 0;
}
.lbl-trending {
  background-color: #f5a100;
  border-radius: 0;
}